// Import mazer Variables
@import "./variables";

// Bootstrap + Icons
$bootstrap-icons-font-src: url('~bootstrap-icons/font/fonts/bootstrap-icons.woff2') format("woff") !default;
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

// Fix icon placement
body .bi::before, [class^=bi-]::before, [class*=" bi-"]::before {
    vertical-align: sub;
}

// Import fonts
@import "./fonts";

// Perfect Scrollbar
@import "~perfect-scrollbar/css/perfect-scrollbar.css";

// Mazer CSS
@import "./mazer";

.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index:9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    .spinner{
        width: 30px;
        height: 30px;
        border: 5px solid #fff;
        border-radius: 50%;
        border-top-color: transparent;
        animation: spin 1s linear infinite;
    }
    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
}

.clickable-row{
    cursor: pointer;
}


.border-top-selec2-multiple{
    border-top: 1px solid #ced4da !important;
    margin: 5px 0;
    padding-top: 3px;
}


.stepper {
    font-size: 1rem;
    position: relative;
    counter-reset: step 0;
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-flow: row nowrap;
    gap: 0;
    justify-content: space-around;
    align-items: flex-start;
}

.stepper>.step {
    position: relative;
    counter-increment: step;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.stepper>.step::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: var(--bs-gray-200);
    left: 0;
    top: 1.1rem;
}

.stepper>.step>.step-label {
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
    line-height: 2.6rem;
    background: var(--bs-gray-200);
    color: var(--bs-gray-600);
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
    font-size: 1.5rem;
}

// .stepper>.step>.step-label::before {
//     content: counter(step);
// }

.stepper>.step.active::before {
    background: linear-gradient(to right, var(--bs-pink), var(--bs-gray-200));
}

.stepper>.step.active>.step-label {
    background: var(--bs-pink);
    color: var(--bs-light);
    font-weight: bold;
}

.stepper>.step.completed::before {
    background: var(--bs-pink);
}

.stepper>.step.completed>.step-label {
    background: var(--bs-pink);
    color: var(--bs-light);
}

.stepper>.step>.step-description {
    font-size: 0.8rem;
    color: var(--bs-gray-500);
    margin-top: 0.5rem;
    overflow-wrap: break-word;
    hyphens: auto;
    text-align: center;
}

.stepper>.step.active>.step-description,
.stepper>.step.completed>.step-description {
    color: var(--bs-gray-800);
}

.stepper>.step.active>.step-description {
    font-weight: bold;
}
