* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: rgba(242, 247, 255, 1);
    height: 100vh;
    overflow: hidden;

    .title {
        font-size: 64px;
        font-weight: 700;
        color: rgba(37, 57, 111, 1);
        margin-bottom: 15px;
    }

    .subtitle {
        font-size: 24px;
        font-weight: 400;
        color: rgba(168, 174, 187, 1);
        line-height: 28px;
        margin-bottom: 30px;
    }

    .forgot-password {
        font-size: 14px;
        font-weight: 400;
        color: rgba(168, 174, 187, 1);
        text-decoration: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .hero {
        background-image: url('/resources/img/auth-hero.svg');
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    input::placeholder {
        font-size: 0.8rem;
        font-weight: 400;
        color: rgba(173, 181, 189, 1) !important;
    }

    input {
        font-size: 0.9rem !important;
        font-weight: 400;
        color: rgb(97, 99, 101) !important;
    }

    .btn-toggle-password {
        background-color: white;
        border: 1px solid #dee2e6
    }

    button[type="submit"] {
        background-color: rgba(67, 94, 190, 1) !important;
        color: white !important;
    }

    .btn-primary {
        background-color: rgba(67, 94, 190, 1) !important;
        color: white !important;
    }

    .message {
        font-size: 12px;
        font-weight: bold;
        color: rgba(168, 174, 187, 1);
        margin-top: 5px;
    }

    .sisa-waktu{
        font-size: 14px;
        color: #25396F;
        margin-top: 5px;
    }


    .footer-caption {
        font-family: Nunito;
        font-weight: 400;
        line-height: 36px;
        text-align: center;
    }

    .footer-link {
        color: rgba(67, 94, 190, 1);
        text-decoration: none;
        font-weight: bold;
    }
}
